@charset 'utf-8';

* {
    box-sizing: border-box;
    font-family: '游ゴシック', YuGothic, Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    font-size: 10px;
}
body {
    font-size: 1.5rem;
}

input:not([type="submit"]), textarea {
    padding: 0.5rem 1rem;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
}


/**
 * Utility
 */
.tal { text-align: left; }
.tar { text-align: right; }
.tac { text-align: center; }



/**
 * Component
 */
.btn {
    margin: 1rem;
    padding: 1rem 4rem;
    display: inline-block;
    border: 1px solid #333;
    border-radius: 3px;
    background-color: #fafafa;
    text-align: center;
    font-size: 1.4rem;
    text-decoration: none;
    color: #333;
    &__primary {}
}



.form {
    margin: 3rem auto;
    padding: 3rem 3rem .5rem;
    max-width: 700px;
    border: 1px solid #ddd;
    border-radius: 3px;

    &__table {
        width: 100%;

        th, td {
            padding: 0.5rem 0;
        }
    }

    &__label {
        font-size: 1.5rem;
    }
}

.is-required {
    box-shadow: 0 0 3px 1px rgba(214, 0, 0, 0.5) !important;
}



.posts {
    margin: 3rem auto;
    max-width: 700px;
}

.post {
    margin: 1.5rem auto;
    padding: 1rem 3rem;
    border: 1px solid #ddd;
    border-radius: 3px;

    &__author {
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #eee;
    }

    &__content {
        padding: 1.5rem;
        border-bottom: 1px solid #eee;
        line-height: 1.5;
    }

    &__date {
        font-weight: 600;
        font-size: 1.3rem;
    }
}